.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p{
    color: gray;
    font-size: 40px;
    font-weight: 700;
}

.footer-links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
}

.footer-links li{
    cursor: pointer;
    align-items: center;
}

.footer-social-icon{
    display: flex;
    gap: 20px;
    
}
.footer-icon-container{
    padding: 10;
    padding-bottom: 6px;
    background: white;
    border: 1px solid white;
    margin-left: 30px;
}